<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle carte</ion-title>

    <button (click)="backToHome()">
      <ion-icon name="arrow-back" style="font-size: 40px; color: #db3200"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-select placeholder="Magasin">
      <ion-select-option value="Leclerc">Leclerc</ion-select-option>
      <ion-select-option value="Leclerc">Carrefour</ion-select-option>
      <ion-select-option value="Leader Price">Leader Price</ion-select-option>
    </ion-select>
  </ion-item>
  <form #registerForm="ngForm" style="text-align: center">
    <ion-row>
      <ion-col>
        <ion-list inset *ngIf="result">
          <ion-button  (click)="add()" ion-button round color="light" class="submit-btn" type="submit" [disabled]="!registerForm.form.valid">
            Ajouter la carte
          </ion-button>
        </ion-list>
        <ion-input name="number" (keydown)="noSpace()" [(ngModel)]="cardCredentials.number" required readonly></ion-input>
      </ion-col>
    </ion-row>
  </form>

  <div>
    <ion-fab horizontal="center" vertical="center" slot="fixed">
      <ion-fab-button (click)="scanBarcode()" type="submit" color="danger">
        <ion-icon name="md-barcode"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 325 324" class="foxCloud">
    <defs>
      <style>
        .cls-1 {
          fill: #db3200;
        }
      </style>
    </defs>
    <path id="background" class="cls-1" d="M-325,0V324H0V312.5A62.507,62.507,0,0,0-62.5,250,62.507,62.507,0,0,1-125,187.5,62.507,62.507,0,0,0-187.5,125,62.507,62.507,0,0,1-250,62.5,62.507,62.507,0,0,0-312.5,0Z" transform="translate(325)"/>
  </svg>
  <div class="manualBtn" slot="fixed">
    <ion-button class="manualBtn" (click)="addManual()" ion-button round color="light" class="submit-btn" type="submit">
      Ajouter manuellement
    </ion-button>
  </div>
</ion-content>
