.submit-btn {
  border-radius: 10px;
}

.manualBtn {
  text-align: center;
  position: absolute;
  bottom: 120px;
  left: 100px;
}

.scanContent {
  position: relative;
  top: 30px;
}
.foxCloud {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: -30px;
}