<ion-header>
  <ion-toolbar class="bg-image">
    <ion-title>
        Cartes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="refresh"
            refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm *ngFor="let card of cards">
        <div [ngStyle]="{'background-image' : 'url('+ card.img +')'}" (click)="showCard(card)" style="
        height: 100px;
        background-size: 106%;
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        border-radius: 20px;">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="add">
    <div class="cardPos" (click)="cardPage()">
      <ion-icon class="card" name="card"></ion-icon>
    </div>
    <div class="addCard" (click)="addCard()">
      <ion-icon class="plus" name="add"></ion-icon>
    </div>
    <div class="settingPos" (click)="setting()">
      <ion-icon class="settings" name="settings"></ion-icon>
    </div>
  </div>
</ion-content>
