<ion-header>
  <ion-toolbar>
    <ion-title>
      Cartes
    </ion-title>
    <button (click)="addCard()">
      <ion-icon name="add" style="font-size: 40px; color: #db3200"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm *ngFor="let card of cards">
        <div [ngStyle]="{'background-image' : 'url('+ card.img +')'}" (click)="showCard(card)" style="
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        border-radius: 20px;">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button class="logout" ion-button (click)="logout()">
    <img src="../../assets/img/homefox.png" width="100">
  </button>
  <p class="logoutStyle" style="color: white">Logout</p>
</ion-content>
