<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

  <div class="container">
    <ion-searchbar [(ngModel)]="searchTerm"  (ionChange)="setFilteredItems()" placeholder="Rechercher" animated="true"></ion-searchbar>
    <ion-list>
      <div *ngFor="let shop of shops">
          <ion-item  *ngIf="!afterScan" (click)="scanBarcode(shop.name)">
            <ion-label class="d-flex align-items-center" value="shop.name"><div class="img-card"><img src="{{ shop.img }}" alt=""></div>{{ shop.name }}</ion-label>
          </ion-item>
      </div>
    </ion-list>
  </div>

  <div *ngIf="scannedData">
    <ion-input [(ngModel)]="cardCredentials.name"></ion-input>
    <ion-input value="{{ scannedData['text'] }}" [(ngModel)]="cardCredentials.number"></ion-input>
    <p id="test"></p>
    <p>Vérifiez si les informations sont correctes</p>
    <ion-button (click)="add()">Ajouter la carte</ion-button>
  </div>

</ion-content>
