<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-select placeholder="Magasin" [(ngModel)]="cardCredentials.name">
      <ion-select-option  value="Leclerc">Leclerc</ion-select-option>
      <ion-select-option value="Carrefour">Carrefour</ion-select-option>
      <ion-select-option value="Lidl">Lidl</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-button (click)="scanBarcode()">Scan code</ion-button>

  <div *ngIf="scannedData">
    <ion-input value="{{ scannedData['text'] }}" [(ngModel)]="cardCredentials.number"></ion-input>
    <p id="test"></p>
    <p>Vérifiez si les informations sont correctes</p>
  </div>


  <ion-button (click)="add()">Ajouter la carte</ion-button>



</ion-content>
