.annuler {
  color: orange;
}
.foxCloud {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: -30px;
}
ion-select{
  margin-left: 100px;
}
.container {
  padding: 0;
}
ion-card {
  margin-bottom: -30px;
  margin-left: 0;
  margin-right: 0;
}
.img-card {
  width: 50px;
  height: 31px;
  margin-right: 10px;
}