<ion-content padding style="text-align:center;margin-top: 50px">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="registerForm">
    <ion-input type="text" (keydown)="noSpace()" placeholder="Username" formControlName="username" class="form-control capit" [(ngModel)]="registerCredentials.username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"></ion-input>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">First Name is required</div><br>
      </div>
    <hr>
      <ion-input type="text" (keydown)="noSpace()" placeholder="Email" formControlName="email" class="form-control" [(ngModel)]="registerCredentials.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div><br>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div><br>
      </div>
    <hr>
      <ion-input type="password" placeholder="Password" formControlName="password" class="form-control" [(ngModel)]="registerCredentials.password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div><br>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div><br>
      </div>
    <hr>
      <ion-input type="password" placeholder="Confirm password" formControlName="confirmPass" class="form-control" [(ngModel)]="registerCredentials.confirmPass" [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }"></ion-input>
      <div *ngIf="submitted && f.confirmPass.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPass.errors.required">Password is required</div><br>
        <div *ngIf="f.confirmPass.errors.minlength">Password must be at least 6 characters</div><br>
      </div>

    <ion-button ion-button round color="light" class="submit-btn" type="submit" value="signup">
      Inscription
    </ion-button>

    <p class="foxColor" (click)="connectAccount()">Déjà un compte ?</p>
  </form>

  <img src="../../assets/img/foxysRegister.png" style="width:60%">

</ion-content>





