<ion-content class="bg-image no-scroll" padding style="text-align:center;">
  <form #registerForm="ngForm" (ngSubmit)="register()">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-input class="input" name="username" type="text" (keydown)="noSpace()" placeholder="Username" [(ngModel)]="registerCredentials.username" required></ion-input>
          <ion-input class="input" (keydown)="noSpace()" type="email" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
          <ion-input class="input" type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
          <ion-input type="password" name="confirmPass" placeholder="Confirm password" [(ngModel)]="registerCredentials.confirmPass" required></ion-input>
        </ion-list>
      </ion-col>
    </ion-row>

    <button class="submit-btn" type="submit" value="signin" [disabled]="!registerForm.form.valid">
      Inscription <div class="log"><ion-icon style="color: white" name="md-arrow-round-forward"></ion-icon></div>
    </button>
    <p class="register" (click)="connectAccount()">Vous avez déjà un compte ?</p>
  </form>
</ion-content>





