<ion-header>
  <ion-toolbar class="bg-image">
    <ion-title>
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="container">
    <p style="color: #818181; border-bottom: 1px solid #818181;">CONDITIONS D'UTILISATION</p>
    <div style="height: 100%; overflow-y: scroll; border-bottom: 1px solid #818181; padding: 10px">
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMake
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMake
    </div>
    <div class="disconnected" (click)="logout()">
      <p style="color: #e74149; margin: 0;">Se déconnecter</p>
    </div>
  </div>
  <div class="add">
    <div class="cardPos" (click)="cardPage()">
      <ion-icon class="card" name="card"></ion-icon>
    </div>
    <div class="addCard" (click)="setting()">
      <ion-icon class="plus" name="settings"></ion-icon>
    </div>
    <div class="settingPos" (click)="addCard()">
      <ion-icon class="settings" name="add"></ion-icon>
    </div>
  </div>
</ion-content>
